html {
    background-color: black;
}

.logRedbtns {
    /* margin-right: 30px; */
    padding-right: 15px;
}

.card {
    width: fit-content;
    height: fit-content;
    margin: auto;
    background-color: rgb(36, 36, 36);
    border-radius: 10px;
    margin-top: 10%;
}
.noBorder {
    /* border-inline-width: 3px; */
    /* border:0px; */
}

form {
    position: relative;
}

.profileimg {
    height: 90px;
    width: 90px;
    position: absolute;
    border-radius: 50%;
    overflow: hidden;
    background-color: rgb(172, 172, 207);

    padding: 0px;

    top: -70px;

    right: 125px;

    border: orange 2px solid;
    box-shadow: 0px 0px 5px 1px #0ff;
}
.profileimg img {
    width: auto;
    height: auto;
}

input {
    border: 0px;
}

input:focus {
    /* -webkit-box-shadow: #23bb44  !important; */
    border-top: 0px;
    border-bottom: 0px;
    /* padding: 20px; */
    /* border: blueviolet; */

    animation: animationINPUT 0.8s infinite;
    /* filter: blur(6px); */
}

@keyframes animationINPUT {
    0% {
        /* background-color: blueviolet; */
        /* box-shadow: chartreuse; */
        color: rgb(172, 167, 167);
        border-inline-width: 0px;
    }
    100% {
        color: rgb(182, 17, 17);
        /* border-inline-width: 4px ; */
        /* border-inline-color: red; */
        box-shadow: 0px 0px 5px 1px #0ff;
    }
}

input:checked + label {
    /* animation: animationINPUT 0.8s infinite; */
    /* background-color: rgb(215, 196, 233); */
    border-bottom: rgb(116, 189, 33) 2px solid;
    transition: color 0.6s ease-in, border-color 0.8s ease-in;
}
.RadioLabel {
    cursor: pointer;
    user-select: none;
}

.inputRadio {
    visibility: hidden;
}

.inputRadio + label {
    margin: 0;
    padding: 0 2.6rem;
    box-sizing: border-box;

    display: inline-block;
    /* background-color: rgb(61, 60, 60); */
    font-size: 1rem;
    line-height: 150%;
    font-weight: 600;
    text-align: center;

    transition: color 1.25s ease-out, background-color 1.25s ease-out, box-shadow 2.15s ease-out;
}
